header {
    background-image: url('https://wallpapers.com/images/hd/spider-man-logo-qe6f52sk0xgk6rd7.jpg');
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

body {
    background-color: rgb(97, 97, 97);
    color: rgb(249, 247, 253);
    font-family: Arial, sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

footer p {
    margin: 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p, ul, ol {
    font-size: 1.1em;
}

@font-face {
    font-family: TheJakara;
    src: url(THE_JACATRA.otf);
}

h1 {
    font-family: TheJakara;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar a {
    color: rgb(255, 30, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
    transition: color 0.9s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #ff1100;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}


.navbar a:hover {
    color: rgb(255, 192, 192);
}

.navbar a:hover::after {
    width: 100%;
}

section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    margin: 20px 0;
    border-radius: 8px;
}

.container {
    display: flex;
}

.container img{
    margin-top: 48px;
}

.entrevistas {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 20px;
}

h2 {
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: space-between
}

.galeria img {
    width: 30%;
    height: auto;
    border-radius: 20px;
}

.galeria .image:hover {
    transform: scale(1.1);
}

.container2 {
    display: flex;
}

.comida {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 20px;
}

.vive {
    font-size: 22px;
    margin-left: 20px;
    text-align: justify;
}

#viveP{
    display: flex;
    justify-content: space-around;
}

.visto {
    display: flex;
    align-items: center;
}


.vistoImagem {
    margin-right: 20px;
    align-items: center;
}

.vimagem {
    width: 300px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    align-items: center;
}

.Vistcontainer {
    width: 90%;
    overflow: hidden;
    position: relative;
}

.hidden-text {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-left: 50px;
    font-size: 33px;
    color: #ffffff;
}

.vistoImagem:hover + .Vistcontainer .hidden-text {
    opacity: 1;
    transform: translateX(0);
}

.vistoImagem:hover .vimagem {
    transform: scale(1.1);
}

#cat {
    font-size: 50px;
}